.painel {
    margin: auto;
    background-color: white;
    width: 90vw;
    max-width: 500px;
    height: 90vw;
    max-height: 500px;
    border-radius: 20px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.painel img {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.botoes {
    position: relative;
    width: 100%;
    min-height: 70px; /*Espaço entre os botões*/
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.love-button, #sim, #nao {
    height: 40px;
    width: 60px;
    font-size: 1rem;
    margin: 10px 5px 0 5px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    transition: left 0.2s, top 0.2s;
}

@media (max-width: 600px) {
    .painel {
        width: 98vw;
        height: auto;
        padding-top: 10vw;
        min-height: 350px;
    }
    .love-button, #sim, #nao {
        width: 40vw;
        max-width: 120px;
        font-size: 1.1em;
    }
}